$template-dark-color: #041474;
$template-primary-color: rgba(213, 255, 64, 0.79);

$template-full-height: 100vh;
$template-full-width: 900px;

$template-primary-font-size: 12px;
$template-primary-font-width: 400;


